/*eventCard.tsx styles*/

/* 
colors from figma 

--dark-olive-green: rgb(124, 121, 69);
--rich-black-fogra-39: rgb(12, 12, 12);
--sea-blue: rgb(38, 101, 120);
--arichoke: rgb(151, 148, 131);
--spanish-bistre: rgb(115, 113, 68);
--sky: rgb(94, 152, 173);

build configuration doesn't allow global css variables

*/

.eventCard {
  background-color: rgb(151, 148, 131);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  margin: 20px;
  color: black;
  font-family: Arial, sans-serif;
}
.imageWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
  height: 200px;
}

.image {
  width: 300px;
  height: 200px;
}

.date {
}

.name {
}

.place {
}

.host {
}

.availability {
}
