/*eventCard.tsx styles*/

/* 
colors from figma 

--dark-olive-green: rgb(124, 121, 69);
--rich-black-fogra-39: rgb(12, 12, 12);
--sea-blue: rgb(38, 101, 120);
--arichoke: rgb(151, 148, 131);
--spanish-bistre: rgb(115, 113, 68);
--sky: rgb(94, 152, 173);

build configuration doesn't allow global css variables

*/

.eventCard {
  background-color: rgb(151, 148, 131);
  border-radius: 30px;
  overflow: hidden;
  width: 30%;
  min-width: 315px;
  height: 20%;
  min-height: 248px;
  margin: 20px;
  color: #000;
  font-family: Arial;
  object-fit: cover;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image {
}

.name {
}

.place {
}

.host {
}

.availability {
}

/* date component styles*/

.dateContainer {
  background-color: #737144;
  border-radius: 30px;
  overflow: hidden;
  width: 30%;
  min-width: 200px;
  height: 20%;
  min-height: 150px;
  color: #000;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-self: end;
  transform: translate(-10%, 10%);
  position: relative;
  z-index: 1;
}

.date {
  margin: 0;
}

.dateDay {
  color: white;
  margin: 10px;
}
