.cardContainer {
  width: 100%; /* Make the card take up the full width of its parent container */
  display: flex;
  flex-direction: column;
  max-width: 450px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

/* Top Image */
.cardImage {
  height: auto;
  object-fit: cover;
}

/* Meta Section */
.cardMeta {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  gap: 10px;
}

.cardMeta p {
  margin: 0;
}

/* Title */
.cardTitle {
  font-size: 28px;
  font-weight: 500;
  color: #1e5f7a;
  margin-bottom: 10px;
}

/* Button */
.cardButton {
  width: 90%;
  padding: 16px;
  font-size: 18px;
  border-radius: 14px;
  border: none;
  background-color: #177db7;
  color: white;
  margin: 0 auto 20px auto;
  display: block;
  margin-top: 20px;
}

/* On Hover */
.cardButton:hover {
  background-color: #126a9c;
}

.cardLocation::before {
  content: "📍";
  margin-right: 8px;
}

.cardDate::before {
  content: "📅";
  margin-right: 8px;
}

.cardTime::before {
  content: "🕒";
  margin-right: 8px;
}
